$primary-color: #11141D;
$primary-color-light: #191D29;
$secondary-color: #BD9F71;
$success-color: #00A700;
$error-color: #FF0000;
$success-color-light: #4CD964;
$error-color-light: #FF3535;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background: $primary-color !important;
}


svg {
  color: #fff;
}

.Availability-form {
  border: 1px solid #fff;
  border-radius: 12px;
  width: 700px;

  &__Row {
    min-height: 40px;
  }

  & .formError {
    margin-bottom: 0;
    color: #FF0000;
    text-align: end;
    font-size: 12px;
    min-height: 20px;
  }
  
  &__slot .formError {
    max-width: 130px;
  }

  &__Day {
    color: $secondary-color;
    width: 20%;

    label, input {
      cursor: pointer;
    }
  }

  &__actions {
    margin-left: auto;

    & .Add-Slots, & .Copy-Slots, & .FullDayShift-Slots {
      cursor: pointer;
    }
  }
}

.Availability-form__slot {
  .Delete-Slots {
  cursor: pointer;
  }

  .Start-time, .End-time {
    min-width: 130px;

    & input {
      width: 100%;
    }
  }
}

.Availability-form__Submit {
  margin-left: auto;
  min-width: 100px;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
}
